*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    min-width: 1400px;
    overflow-x: auto;
}

.container {
    width: 1200px ;
    max-width: none ;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 80px;
    background:#fff;
    padding:15px 0;
}

.navbar-brand img {
    width: 140px;
    height: 50px;
    display: block;
}

.nav-box{
    background:#00cfff;
    padding:9.5px 35px;
}

.nav-link{
    color:#fff ;
    padding:20px ;
    font-size:14px;
    font-weight:600;
    font-style: italic;
}

.sign-btn{
    border:1px solid #4ec0d9;
    background:#fff;
    border-radius:8px;
    padding:10px 22px;
    color: #4ec0d9 ;
}

.sign-btn:hover{
    background:#2f2727;
}